products/n8n-ai-production-kit/workflows/01-central-error-logger.json
{
  "name": "PK-01 Central Error Logger",
  "nodes": [
    {
      "parameters": {},
      "id": "9f1a2b30-0001-4c01-9a01-000000000001",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-660, 0]
    },
    {
      "parameters": {
        "jsCode": "// Extract error metadata and redact anything that looks like a secret.\n// Logged output must never expose API keys, license keys, buyer emails,\n// or raw customer data.\nconst SECRET_PATTERNS = [\n  new RegExp('sk' + '-[A-Za-z0-9_-]{10,}', 'g'),\n  new RegExp('xox' + 'b-[A-Za-z0-9-]{10,}', 'g'),\n  new RegExp('gh' + 'p_[A-Za-z0-9]{20,}', 'g'),\n  new RegExp('github' + '_pat_[A-Za-z0-9_]{20,}', 'g'),\n  new RegExp('AKIA' + '[0-9A-Z]{16}', 'g'),\n  new RegExp('Bearer\\\\s+[A-Za-z0-9._~+/-]{15,}', 'gi'),\n  new RegExp('[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\\\.[A-Za-z]{2,}', 'g'),\n];\n\nfunction sanitize(value) {\n  let out = String(value == null ? '' : value);\n  for (const pattern of SECRET_PATTERNS) {\n    out = out.replace(pattern, '[REDACTED]');\n  }\n  return out.slice(0, 2000);\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const data = item.json || {};\n  const execution = data.execution || {};\n  const workflow = data.workflow || {};\n  const error = execution.error || {};\n  results.push({\n    json: {\n      logged_at: new Date().toISOString(),\n      workflow_id: workflow.id || 'unknown',\n      workflow_name: workflow.name || 'unknown',\n      execution_id: execution.id || 'unknown',\n      execution_url: sanitize(execution.url || ''),\n      execution_mode: execution.mode || 'unknown',\n      failed_node: execution.lastNodeExecuted || 'unknown',\n      error_message: sanitize(error.message || 'No error message provided'),\n      error_description: sanitize(error.description || ''),\n    },\n  });\n}\nreturn results;"
      },
      "id": "9f1a2b30-0001-4c01-9a01-000000000002",
      "name": "Extract And Sanitize Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-440, 0]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "value": "error_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": []
        },
        "options": {}
      },
      "id": "9f1a2b30-0001-4c01-9a01-000000000003",
      "name": "Insert Error Log Row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [-220, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "notes": "If logging storage fails, we still alert. Run PK-00 Setup Data Tables before using this workflow."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-slack-channel",
              "name": "slack_channel_id",
              "value": "REPLACE_WITH_SLACK_CHANNEL_ID",
              "type": "string"
            },
            {
              "id": "set-email-from",
              "name": "alert_email_from",
              "value": "alerts@example.com",
              "type": "string"
            },
            {
              "id": "set-email-to",
              "name": "alert_email_to",
              "value": "you@example.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9f1a2b30-0001-4c01-9a01-000000000006",
      "name": "Alert Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-110, 0],
      "notes": "EDIT ME: open this node and type your Slack channel ID and alert email addresses. No environment variables needed."
    },
    {
      "parameters": {
        "content": "## 🛠 Setup (2 minutes)\n1. Open the **Alert Settings** node and type your Slack channel ID and alert emails.\n2. Click the **Send Slack Alert** node and connect your Slack account.\n3. Click **Email Fallback Alert** and connect any email (SMTP) account.\n4. Publish this workflow.\n5. In every workflow you want protected: Settings → Error Workflow → pick this one.\n\nThat's it — failures now get logged and alerted automatically.",
        "height": 300,
        "width": 360
      },
      "id": "9f1a2b30-0001-4c01-9a01-000000000007",
      "name": "Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-680, -360]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel_id }}",
          "mode": "id"
        },
        "text": "=:rotating_light: n8n workflow failed\n*Workflow:* {{ $json.workflow_name }}\n*Failed node:* {{ $json.failed_node }}\n*Error:* {{ $json.error_message }}\n*Execution:* {{ $json.execution_url }}\n*Logged at:* {{ $json.logged_at }}",
        "otherOptions": {}
      },
      "id": "9f1a2b30-0001-4c01-9a01-000000000004",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [0, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.alert_email_from }}",
        "toEmail": "={{ $json.alert_email_to }}",
        "subject": "=[n8n ALERT] Workflow failed: {{ $json.workflow_name }}",
        "emailFormat": "text",
        "text": "=Slack alert delivery failed, falling back to email.\n\nWorkflow: {{ $json.workflow_name }}\nFailed node: {{ $json.failed_node }}\nError: {{ $json.error_message }}\nExecution: {{ $json.execution_url }}\nLogged at: {{ $json.logged_at }}",
        "options": {}
      },
      "id": "9f1a2b30-0001-4c01-9a01-000000000005",
      "name": "Email Fallback Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [220, 120],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract And Sanitize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract And Sanitize Error": {
      "main": [
        [
          {
            "node": "Insert Error Log Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Error Log Row": {
      "main": [
        [
          {
            "node": "Alert Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Settings": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [],
        [
          {
            "node": "Email Fallback Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
